PORT=3001
ALLOWED_ORIGINS=*
# PILIHAN A: Menggunakan URL Tunggal (Sangat direkomendasikan untuk Neon, Supabase, Railway)
# DATABASE_URL=postgresql://user:password@your-db-host:5432/dbname?sslmode=require

# PILIHAN B: Menggunakan Parameter Terpisah (Sangat bagus untuk setup database cPanel / Domainesia)
DB_HOST=domain
DB_PORT=db_port
DB_USER=db_us
DB_PASSWORD=db_pw
DB_NAME=db_name
DB_SSL=false